pandas
numpy
matplotlib
yfinance
streamlit
requests
langchain 
langchain_groq
nltk
keras-tuner
scikit-learn
beautifulsoup4
newsapi-python
google-generativeai
langchain-google-genai
langchain_community
plotly
python-dotenv
